<launch>
    <!-- This version uses the openai_ros environments -->
    <rosparam command="load" file="$(find reinforcement_drone )/config/x_y_qlearn_sarsa_params_v0.yaml" />
    
    <!-- <include file="$(find reinforcement_drone)/launch/main.launch"/> -->

    <!-- Launch the training system -->
    <node pkg="reinforcement_drone" name="x_y_sarsa" type="x_y_sarsa_v0.py" output="screen"/>
</launch>